%h1 New Task!

.row
  = semantic_form_for @property do |f|
    - if notice or alert
      .alert.alert-error
        = f.semantic_errors

    = f.inputs do
      = f.input :title

    = f.actions do 
      = f.action :submit, as: :button, value: "Create Task"


