%h1 New Task!

= semantic_form_for @task do |f|
  - if notice or alert
    .alert.alert-error
      = f.semantic_errors

  = f.inputs do
    = f.input :title
    = f.input :categories, as: :select, required: true #collection: (Category.all.map { |c| c.name })
  = f.actions do 
    = f.action :submit, as: :button, value: "Create Task"


