%h1 New Task!

= semantic_form_for @task do |f|
  - if notice or alert
    .alert.alert-error
      = f.semantic_errors

  = f.inputs do
    = f.input :title

  = f.actions do 
    = f.action :submit, as: :button, value: "Create Task"


