<ul class="nav">
<div id="textbox">
  <p class="alignleft"></p>

  <div class="alignright">

    <% if user_signed_in? %>
    <li>
      <%= current_user.email %> (<%=link_to 'Logout', destroy_user_session_path, :method=>'delete' %>, 
      <%= link_to 'Edit account', edit_user_registration_path %>)
    </li>
    <% else %>
    <li>
      <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    <% end %>

  </div>
  <div style="clear: both;"></div>
</ul>
